#about {
    box-shadow: 10px 0px 22px 0px rgba(0,0,0,0.3);  
    text-align: left; 
    border-radius: 5px;
    margin-top: 4%;
    margin-bottom: 4%;
}

#about .img-wrap {
    padding-left: 0;
}

#about .img-wrap img {
    height: 475px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#about .bio {
    padding: 2% 5% 0 2%;
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-family: 'Alex Brush', cursive;
}

#about .connect {
    margin-top: 8%;
    text-align: left;
}

#about .connect img {
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

#about .connect img:hover {
   cursor: pointer;
}

@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Quicksand&display=swap');

@media only screen and (max-width: 40em) {
    #about {
        margin: 10% 8px;
    }
    #about .img-wrap img {
        height: 350px;
        border-bottom-left-radius: 0px;
    }
    #about .bio {
        padding: 5%;  
    }

} /* max-width 640px, mobile-only styles small */


@media only screen and (min-width: 40.063em) and (max-width: 64em) {

    #about .img-wrap img {
        border-bottom-left-radius: 0px;
    }

} /* min-width 641px and max-width 1024px - tablet styles medium */