.about{
    font-family: 'Alex Brush', cursive;
    letter-spacing: 2px;
    padding-right: 40%;
    font-size: 40px;
}

.about-details{
    font-family: 'Quicksand', sans-serif;
    padding-top: 10%;
    width: 60%;
}

.about-card{
    align-content: center;
   
}

.card-body{
    /* height: '45vw'; */
    /* width: '30vw'; */
    border-radius: 5px;
    box-shadow: 4cm;
    border: 30px;
}