.App {
  text-align: center;
  /* background-color: #6f8b95; */
  /* background: url('./public/assets/imgs/gradient1.jpg'); */
}

.App-header{
  position: absolute;
  bottom: 10;
  width: 100%;
  height: 10vw;
  border-radius: 0 0 85% 85% / 30%;
}


.Background-img {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
